<h1><%= @home.name %></h1>

<p><%= @home.description %></p>

<p><%= @home.level %></p>

<p><%= @home.check_box %></p>

<p><%= @home.email %></p>

<p><%= @home.email_confirmation %></p>

<p><%= @home.password %></p>

<p><%= @home.gender %></p>